/* * {
    border-style: solid;
    border-color: red;
} */

* {
    margin: 0;
}

html, body, .login-signup-body,
a, input {
    height: 100%;
    padding: 0;
    font-family: "Oxygen Mono", monospace;
}

html, body {
    /* background-color: #fbdbe6; */
    background-color: #d9eaf7;
}

.header {
    height: 100px;
}

.header img {
    height: 100%;
}

hr {
    height: 1px;
    border: none;

    background-color: lightgray;  
}

.content {
    display: flex;
    height: calc(100% - 160px);
}

.left, .right {
    height: 100%;
    width: 49.5%;
}

h1 {
    text-align: center;
}

.login-form, .signup-form {
    height: 70%;
}

.login-form form, .signup-form form {
    padding: 30px;
    padding-left: 5px;
    text-align: center;
}

.login-form label,
.signup-form label {
    display: inline-block;
    width: 100px;
    padding: 8px;
    text-align: right;
    font-size: 16px;
}

.login-form input, .signup-form input {
    height: 2em;
    width: 50%;
    padding-left: 5px;
    border-radius: 40px;
}

.content #submit-button {
    padding: 10px 0px 0px 45px;
}

.signup-redir button a,
.login-redir-button a {
    text-decoration: none;
    color: black;
}

.content input[type=submit],
.signup-redir button,
.login-redir button {
    background-color: #abbdce;
    border-color: black;
    border-radius: 40px;
    height: 40px;
    width: 80px;
    cursor: pointer;
}

.content input[type=submit]:hover,
.signup-redir button:hover,
.login-redir button:hover {
    background-color: #0BDA51;
    border-color: black;
    border-radius: 40px;
    cursor: pointer;
}

#vert-div {
    height: calc(95% - 5px);
    width: 2px;
    margin-top: 20px;
    background-color: lightgray;
}

.login, .signup {
    height: 60%;
    width: 80%;
    margin-top: 15%;
    margin-left: 10%;
    padding-top: 5%;
    border-radius: 40px;
}

.login input, .signup input {
    background-color: #fafafa;
}

.signup-redir, .login-redir {
    height: 60%;
    width: 60%;
    margin-top: 10%;
    margin-left: 20%;
    border-radius: 40px;
}

.signup-redir h1, .login-redir h1 {
    padding-top: 25%;
}

.signup-redir-button, .login-redir-button {
    padding-left: 40%;
    padding-top: 20px;
}

.error-messages {
    padding-top: 30px;
}

.message {
    color: red;
    text-align: center;
}