/* * {
    border-style: solid;
    border-color: red;
} */

* {
    margin: 0;
    font-family: "Oxygen Mono", monospace;
}

.content {
    display: inline-flex;
    height: fit-content;
    min-height: calc(100% - 145px);
    width: 100%;
}

.nav-bar {
    display: inline-flex;
    height: 100%;
    width: 150px;

    padding-top: 5px;
    
    font-size: 25px;
    border-right: 1px solid;
    margin-left: 2px;
}

.nav-bar ol {
    list-style-type: none;
    height: 100%;
    padding: 0;
    padding-top: 5px;
    padding-right: 5px;
}

.nav-bar a {
    display: block;
    color: #000000;
    padding: 5px;
    margin-bottom: 5px;

    text-align: right;
    text-decoration: none;

    border-style: solid;
    border-radius: 40px;
    border-width: 1px;
}

.nav-bar a:hover {
    background-color: #6082b6;
}

#curr-page {
    background-color: #6082b6;
    border-style: solid;
    border-radius: 40px;
    border-width: 0;
}

.tasks {
    display: block;
    width: 1200px;
    margin: 10px;
    margin-right: 5px;
    padding: 5px;
    
    background-color: #6082b6;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}

.progress-bar-and-cal {
    display: block;
    width: 770px;
    margin: 5px;
    margin-left: 0;
    padding: 5px;
}

.progress-bar-container {
    height: 80px;
    padding: 5px;
    margin: 0;

    background-color: #6082b6;
    border-radius: 10px;
    

    border-style: solid;
    border-width: 2px;
}

.progress-bar {
    height: 30px;
    width: calc(100% - 10px);
    margin: 5px;
    background-color: #adadad;
    border-radius: 50px;
    border-style: none;
}

#progress-percent {
    padding: 5px;
    padding-right: 10px;
    text-align: right;
}

.calendar-container {
    display: block;
    height: 440px;
    margin: 0;
    margin-top: 10px;

    background-color: #6082b6;
    border-radius: 10px;

    border-style: solid;
    border-width: 2px;
}

.calendar-container h1 {
    padding-left: 10px;
    padding-top: 5px;
}