.settings {
    height: 100%;
    width: 100%;

    margin: 10px;
    padding: 5px;
}

.settings h1 {
    text-align: center;
}

button a {
    text-decoration: none;
    color: black;
}

.user-info {
    width: 100%;
    margin-inline: auto;

    margin-top: 10px;
}

.user-info button {
    border-radius: 100%;

    font-size: 16px;
    text-align: center;

}

.user-info button:hover {
    background-color: #abbdce;
}

.display-pfp {
    height: 215px;
    width: 200px;
    margin-inline: auto;
}

.display-pfp button {
    margin: -25px;
    float: right;
}

.display-pfp img {
    height: 200px;
    width: 200px;

    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
}

.display-user-info {
    width: 400px;
    margin-top: 30px;
    margin-inline: auto;

    text-align: center;
}

.display-user-info div {
    height: fit-content;
    margin-bottom: 10px;
}

#display-un,
#display-email {
    width: fit-content;
    margin-inline: auto;

    color: #636363;
}

.update-pfp {
    padding: 5px;
}

.update-content h2 {
    padding: 10px;
    text-align: center;
}

.update-pfp table {
    width: fit-content;
    margin-inline: auto;
}

.update-pfp img {
    height: 100px;
    width: 100px;
}

.update-pfp td {
    height: 125px;
    width: 125px;
}

.update-pfp [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.update-pfp [type=radio] + img {
    cursor: pointer;
}

.update-pfp [type=radio]:checked + img {
    padding: 5px;
    border: 2px solid black;
    border-radius: 100%;
}

.back-to-settings button {
    float: left;
}

.back-to-settings button {
    color: #000000;

    background-color: transparent;
    border-color: transparent;

    text-decoration: underline;
    font-size: 16px;
}

.back-to-settings button:hover {
    color: #ffffff;
}

.update-pfp-button,
.update-email form,
.update-email-button,
.update-password form,
.update-password-button,
.delete-account form,
.delete-account-button {
    width: fit-content;
    margin-inline: auto;
}

.update-pfp-button button,
.update-email-button button,
.update-password-button button,
.delete-account button,
.delete-account-button button {
    background-color: #abbdce;
    border-color: black;
    border-radius: 40px;
    height: 40px;
    width: fit-content;
    padding: 0 5px 0 5px;
    cursor: pointer;
}

.update-pfp-button button:hover,
.update-email-button button:hover,
.update-password-button button:hover {
    background-color: #0BDA51;
    cursor: pointer;
}

.delete-account button:hover,
.delete-account-button button:hover {
    background-color: #ff0000;
    cursor: pointer;
}

.update-email input,
.update-password input,
.delete-account input {
    height: 2em;
    width: 300px;
    padding-left: 5px;
    margin: 5px;
    border-radius: 40px;
}

.message {
    color: #ff0000;
    text-align: center;
}