.tasks-table {
    display: block;
    height: fit-content;
    width: 100%;

    border-style: none;
    border-width: 0;

    text-align: left;

    border-style: solid;
    border-width: 2px;
    border-radius: 20px;

    background-color: #60adb6;
}

table {
    display: block;
    height: 100%;
    width: 100%;
}

thead {
    padding: 5px;
}

th, td {
    padding-left: 5px;
    border-radius: 40px;
}

tr {
    border-style: solid;
    border-width: 2px;

    font-size: 16px;
}

.add-task input {
    border-radius: 40px;
}

.add-task option {
    border-radius: 100%;
}

#tt-placeholder {
    width: 5px;
}

#tt-name {
    width: 200px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#tt-name input {
    width: 180px;
}

#tt-name:hover {
    overflow: visible;
    white-space: wrap;
}

#tt-desc {
    width: 100%;
    max-width: 250px;
    min-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#tt-desc input {
    width: calc(100% - 6px);
}

#tt-desc:hover {
    min-width: 250px;
    overflow: visible;
    white-space: wrap;
}

#tt-due, #tt-due input {
    width: 120px;
    text-align: center;
    padding-left: 10px;
}

#tt-color, #tt-color input {
    width: 80px;
    text-align: center;
}

#tt-status {
    width: 110px;
}

#add-task-button {
    height: 25px;
    width: 25px;

    text-align: center;

    border-radius: 100%;
}

#add-task-button:hover {
    background-color: #0BDA51;
}

.mark-completed button {
    border-radius: 100%;
}

.task-dropdown {
    padding-left: 5px;
}

#dot {
    height: 3px;
    width: 3px;

    margin: 2px 0;

    background-color: black;
    border-radius: 100%;
}

.task-dropdown:hover .task-dropdown-content {
    display: block;
}

.task-dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.task-dropdown-content button {
    display: block;
    width: 60px;

    cursor: pointer;

    text-decoration: none;
    background-color: white;
    color: black;
    padding: 0 6px 0 6px;
    
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 40px;
}

.task-dropdown-content button:hover {
    background-color: #6082B6;
}

#edit-task-form {
    display: none;
    position: fixed;
    height: 450px;
    width: 700px;

    padding: 10px;

    border-width: 2px;
    border-radius: 20px;
    border-style: groove;
    border-color: #000000;

    background-color: #aeaeae;

    z-index: 10;
}

#edit-task-form div {
    padding: 10px;
}

#edit-task-form textarea {
    height: 90px;
    width: 98%;

    resize: none;

    text-wrap: wrap;
}

.top-of-form {
    display: flex;
}

.top-of-form button {
    position: absolute;
    right: 10px;
}

.not-textarea {
    display: flex;
}

.button {
    width: fit-content;
    margin-inline: auto;
}