.tasks-table {
    display: block;
    height: fit-content;
    width: 900px;

    border-style: none;
    border-width: 0;

    text-align: left;

    border-style: solid;
    border-width: 2px;
    border-radius: 20px;

    background-color: #60adb6;
}

table {
    display: block;
    height: 100%;
    width: 100%;
}

thead {
    padding: 5px;
}

th, td {
    padding-left: 5px;
    border-radius: 40px;
}

tr {
    border-style: solid;
    border-width: 2px;

    font-size: 16px;
}

.add-task form {
    display: none;
    background-color: aquamarine;
}

.add-task input {
    border-radius: 40px;
}

.add-task option {
    border-radius: 100%;
}

#tt-placeholder {
    width: 5px;
}

#tt-name {
    width: 240px;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#tt-name input {
    width: 240px;
}

#tt-desc {
    width: 250px;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#tt-desc input {
    width: 250px;
}

#tt-due, #tt-due input {
    width: 100px;
    padding-left: 10px;
}

#tt-color, #tt-color input {
    width: 50px;
}

#tt-status {
    width: 110px;
}

#add-task-button {
    height: 25px;
    width: 25px;

    text-align: center;

    border-radius: 100%;
}

#add-task-button:hover {
    background-color: #0BDA51;
}

.mark-completed button {
    border-radius: 100%;
}

.task-dropdown {
    padding-left: 5px;
}

#dot {
    height: 3px;
    width: 3px;

    margin: 2px 0;

    background-color: black;
    border-radius: 100%;
}

.task-dropdown:hover .task-dropdown-content {
    display: block;
}

.task-dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.task-dropdown-content a {
    display: block;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 0 6px 0 6px;
    
    border-width: 1px;
    border-style: solid;
    border-radius: 40px;
}

.task-dropdown-content a:hover {
    background-color: #6082B6;
}